<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form colletion</title>
</head>
<body>
    <p>
        orem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis odio suscipit nulla egestas viverra. Phasellus egestas auctor feugiat. Vestibulum faucibus iaculis tristique. Curabitur sodales ex in nibh pulvinar ornare. Vestibulum bibendum molestie odio, gravida tempus purus sodales quis. Nam efficitur finibus accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus nibh, gravida sed velit a, laoreet fringilla ipsum. Integer ac suscipit ipsum. Cras ut maximus purus. Nullam efficitur diam id leo faucibus, in ullamcorper sapien scelerisque. Mauris suscipit tellus id ante vehicula facilisis. Donec dictum venenatis nunc, eu hendrerit nulla hendrerit non. Quisque molestie lorem eros, tempor molestie dui pulvinar tincidunt.

Quisque at tortor dignissim, ultrices arcu ut, molestie metus. Etiam tempus felis nec odio scelerisque, nec tincidunt sem euismod. Pellentesque vestibulum nunc vel maximus dapibus. Duis non pellentesque lorem. Morbi bibendum sollicitudin leo. Suspendisse a tortor in arcu aliquet tincidunt nec et metus. Phasellus mattis eros eget nibh efficitur, vel vehicula nisi fringilla. Ut et rhoncus libero, accumsan suscipit erat. Maecenas magna sapien, porttitor eget purus nec, feugiat dapibus quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam pellentesque eget turpis in malesuada.
    </p>
    <a href="/">index</a>
     <a href="about">about</a>
            <a href="form">form</a>
</body>
</html>