<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
</head>
<body>
    <script>
        for(let firstName of EmplSchema.firstName){
                        var element = document.createElement('p')
                        element.innerHTML = 
                        document.getElementById('container').appendChild(element)
        }
         for(let lastName of EmplSchema.lastName){
                        var element = document.createElement('p')
                        element.innerHTML = 
                        document.getElementById('container').appendChild(element)
        }
         for(let salary of EmplSchema.firstName){
                        var element = document.createElement('p')
                        element.innerHTML = 
                        document.getElementById('container').appendChild(element)
        }     
         for(let deparment of EmplSchema.deparment){
                        var element = document.createElement('p')
                        element.innerHTML = 
                        document.getElementById('container').appendChild(element)
        }
         for(let startDate of EmplSchema.lastName){
                        var element = document.createElement('p')
                        element.innerHTML = 
                        document.getElementById('container').appendChild(element)
        }
         for(let jobTitle of EmplSchema.firstName){
                        var element = document.createElement('p')
                        element.innerHTML = 
                        document.getElementById('container').appendChild(element)
        }     
    </script>
     
</body>
</html>